<?xml version="1.0"?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="LinqToSQL.Model.Properties.Settings.TestDBLinq2SQL" connectionString="Data Source=192.168.5.187\Sql2005;Initial Catalog=SMPDB_MH;User ID=sa" providerName="System.Data.SqlClient"/>
    </connectionStrings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
