<connectionStrings>
  <add name="TestDB" connectionString="Server=.;Database=TestPerformaceDB;Integrated Security=True;" providerName="System.Data.SqlClient" />
  <add name="TestPerformaceDBEntities" connectionString="metadata=res://*/EFModel.csdl|res://*/EFModel.ssdl|res://*/EFModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=.;Initial Catalog=TestPerformaceDB;Integrated Security=True;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />
  <add name="TestPerformaceDBConnection" connectionString="data source=.;initial catalog=TestPerformaceDB;integrated security=True" providerName="System.Data.SqlClient" />
  <add name="TestDBLinq2SQL" connectionString="Server=.;Database=TestPerformaceDB;Integrated Security=True;" providerName="System.Data.SqlClient" />
  <add name="Simple.Data.Properties.Settings.DefaultConnectionString"  connectionString="Server=.;Database=TestPerformaceDB;Integrated Security=True;"  providerName="System.Data.SqlClient"  />
</connectionStrings>